@charset "UTF-8";
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* nav */
nav {
  width: 100%;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  width: 150px;
}
nav li:hover {
  background-color: #e47200;
  transition: 0.5s;
  border-radius: 5px;
  margin: 3px;
}

.logo {
  width: 50px;
}
.logo:hover {
  transition: 2s;
  transform: rotate(360deg);
  scale: 1.4;
  background-color: white;
  border-radius: 80%;
}

.item_nav_amd:hover {
  background-color: red;
  transition: 0.5s;
}

.item_nav_intel:hover {
  background-color: blue;
  transition: 0.5s;
}

.item_nav_nvidia:hover {
  background-color: green;
  transition: 0.5s;
}

/* general */
body {
  background-color: #222020;
  width: 100%;
  grid-template-rows: auto 1fr auto;
  display: grid;
  min-height: 100vh;
}

.text-center {
  background-color: rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  font-size: 17px;
}

p {
  padding-left: 20px;
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}

.container2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.image {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

/* Estilos para dispositivos pequeños */
@media only screen and (max-width: 600px) {
  .container2 {
    font-size: 14px;
    text-align: center;
  }
  .video-container {
    padding-bottom: 56.25%;
  }
  .video-container iframe {
    width: 100%;
    height: 100%;
  }
  .imagen {
    max-width: 100%;
    height: auto;
  }
}
/* Estilos para dispositivos medianos */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container2 {
    font-size: 18px;
  }
  .imagen {
    max-width: 100%;
    height: auto;
  }
}
/* Estilos para dispositivos grandes */
@media only screen and (min-width: 1025px) {
  .container2 {
    font-size: 24px;
  }
  .imagen {
    width: 500px;
    height: auto;
  }
}
/* formulario */
form {
  color: whitesmoke;
  width: 90%;
}

.form_1 {
  max-width: 320px;
  width: 90%;
  margin: auto;
  display: flex;
  background-color: #222020;
  border: 1px solid yellow;
  border-radius: 8px;
  box-shadow: 0px 0px 8px yellow;
  padding: 4.5em 3em;
  text-align: center;
}

.form_2 {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form_titulo {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: whitesmoke;
  margin: 0px;
  text-align: center;
}

.form_input {
  width: 100%;
  background: none;
  font-size: 1rem;
  padding: 0.6em 3em;
  border: none;
  outline: none;
}

.caja {
  position: relative;
  margin: 5px 0px;
}
.caja label {
  flex-basis: 80px;
}
.caja input {
  flex: 1;
  padding: 5px;
}
.caja input:focus {
  outline: none;
}

button {
  color: whitesmoke;
  background-color: #161414;
  padding: 6px;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 8px yellow;
}
button:hover {
  background-color: rgb(90, 90, 88);
  transition: 0.5s;
}

@media (max-width: 425px) {
  .form_titulo {
    font-size: 1.8rem;
  }
}
.carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.elemento {
  flex: 1 0 auto;
  margin: 0 50px;
  max-width: 501px;
}

.carr_nvidia {
  border: 1px solid green;
  box-shadow: 0px 0px 8px green;
}

.carr_intel {
  border: 1px solid blue;
  box-shadow: 0px 0px 8px blue;
}

.carr_amd {
  border: 1px solid red;
  box-shadow: 0px 0px 8px red;
}

/*# sourceMappingURL=style.css.map */
