 /* general */

body {
	background-color: #222020;
	width: 100%;
	grid-template-rows: auto 1fr auto;
	display: grid;
	min-height: 100vh;
}
.text-center {
	background-color: rgba(0, 0, 0, 0.2);
}
a {
	text-decoration: none;
	font-size: 17px;
}
p {
	padding-left: 20px;
	color: whitesmoke;
}

h1{
	color: whitesmoke;
}

h2 {
	text-align: center;
	font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
	color: whitesmoke;
}
.container2 {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

.index1{
	display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 20px;
	  
}

.index2{
	display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
	  
}

.grid-item img {
	max-width: 100%;
	height: auto;
  }

  .grid-item:hover img {
	animation: color-change 4s infinite;
  }

  @keyframes color-change {
	0%, 100% { background-color: initial; }
	50% {box-shadow: 0px 0px 8px yellow; }
  }

.image {
	padding-left: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
}

.separador-gif{
	width: 100%;
	height: auto;
}


  /* Estilos para dispositivos pequeños */

@media only screen and (max-width: 600px) {
    .index1 {
        grid-template-columns: 1fr
      }
	.grid-item:nth-child(3) {
        display: none;
      }
	  .grid-item:nth-child(1) {
        display: none;
      }
      .responsive-images {
        display: block;
      }
      .responsive-images img {
        max-width: 100%;
        height: auto;
      }
	.container2 {
		font-size: 14px;
		text-align: center;
	}

    .index2 {
        grid-template-columns: 2fr
      }
	  .grid-item:nth-child(1) {
        display: none;
      }
	.imagen {
		max-width: 100%;
		height: auto;
	}
}

/* Estilos para dispositivos medianos */


@media only screen and (min-width: 601px) and (max-width: 1024px) {
	
	
	.container2 {
		font-size: 18px;
	}
	.imagen {
		max-width: 100%;
		height: auto;
	}
	.responsive-images {
        display: none;
      }

	  .responsive-video {
        display: none;
      }
}

/* Estilos para dispositivos grandes */

@media only screen and (min-width: 1025px) {
	.container2 {
		
		font-size: 24px;
	}
	.imagen {
		width: 500px;
		height: auto;
	}
	.responsive-images {
        display: none;
      }

	  .responsive-video {
        display: none;
      }
}
